<---------------------Mainly--------------------->

mod_load = true;

ipc_host_vst_enable = false;
ipc_host_vst3_enable = false;

#element_type = check_box
#comment = "test"
#preview = res/config/animation_preview.png
#var_type = bool
animation = true;

#element_type = check_box
#comment = "test"
#preview = res/config/animation_preview.png
#var_type = bool
#avaibles_types = true, false
blur_time_animation = 250;

#element_type = field
#var_type = path
#comment = {
#  ????? ??????? ???????? ?? ????, ???? ???? ???????? ?????? ????????.
#}
exception_parse_album_art = null;

#element_type = field
#var_type = int
#comment = {
#  ?????? ?????????? ???????.
#  ??? ???????? <= 0, ??????? ????? ??????????????.
#  ???????????? ???????? ????? ??????? ?????? ?????? ??????????.
#  ? ????? ??????, ??? ?????? ?????? ??????????, ??????? ?????????? ?????????.
#}
global_history_size = 25;

#element_type = field
#var_type = string
#comment = {
#  ???? ???????????.
#  RU_ru - ??? ????? ??
#  auto - ?????? ???? ?????? ?? ?????????? ???????.
#}
lang = auto;

#element_type = switcher
#comment = {
#  ?????????????? ??????? ???????? ?????.
#  ???? ??????? ??????? - ??????????? ??? ??????, ? ???????? (???? ??? ????).
#  ????, ? ???????? ???????????, ???????????? ? ?????????? ????????? {lang}
#}
translate_track_title = false;

#element_type = field
#var_type = string
#avaibles_types = mymemory, yandex
#comment = {
#  ??? ????????.
#}
translate_type = mymemory;

#element_type = field
#var_type = int
#comment = {
#  ?????? ????? ? ?????.
#  ??? ??????? ??????? ?????????, ????? ??????????.
#  ??????? ?????, ????? ??????? ???????? ? ???????????????????.
#}
track_cache_size = 25;

<---------------------Audio-Player--------------------->
#element_type = field
#var_type = int
#comment = {
#  ?????? ????? ?????.
#  ???? ???????? ?????????? ?????? ???????, ??????? ?????????????? ? ?????.
#  ??????? ???????? (16386 ? ?????) ???????? ???????? ????????? ? ???, ?? ???????? ??????????? ?? ??.
#  ????? ???????? (16386 ? ?????) ???????? ???????? ????????? ? ???, ?? ???????? ??????????? ?? ??.
#  ???????? ?????? ???? ???????? ?????? (1024, 2048, ? ?.?.).
#}
audio_player_block_size_frames = 512;

#element_type = field
#var_type = string
#comment = {
#  ?????????? ????? ??????.
#  ???? ????????? ?????????? ?? ???????, ????? ?????????????? ?????????? ?? ?????????.
#  ?????????? ?????? ????????? ??? ?????? ????????.
#}
audio_out = a;

#element_type = switcher
#comment = {
#  ??? ???????? ????????, ????? ?????????? ??? ?????? ?????.
#  ??? ?????????? ?????????? ?????????? ????? ? ?????? ? ??????? ??? ??? ??????.
#  ???? ???????? ??? false ????? ??????? ????????? ?????????????? ?????-?????????, ?? ???????? ????? ??? (~40-120 ??).
#  ???? ???????? ??? true ????? ????????? ????????? ?????????????? ?????-????????? (~500-2000 ??), ?? ?? ???????? ??? ?-????????.
#}
clear_samples = false;

<---------------------Background--------------------->
#element_type = field
#var_type = string
#comment = {
#  ????????????? CSS ????? ??? ????.
#}
background_css_style = ; -fx-background-image: url('file:C:/Users/2022/Desktop/YXvyeYZsASGiXGgXpcJR3ELsuaoH5iQ51XAcTzP7kLvHZkAHhkvlGlVqoTBCHv9fWHO2XpE_wEZ2HjGiEoCjPHEl.jpg'); -fx-background-size: cover; ;

#element_type = switcher
#comment = {
#  ?? ?????? ??? ??????????????? ??????? ???????, ??????? ???????????.
#}
is_blur_background = true;

#element_type = switcher
#comment = {
#  ????????? ????? ? ???????????? ? ???????? ??????.
#}
rainbow = true;

<---------------------Slider--------------------->
#element_type = field
#var_type = int
#comment = {
#  ??????? ?????????? ????????.
#}
slider_thread_sleep = 500;

#element_type = field
#var_type = int
#comment = {
#  ?????? ????????.
#}
slider_width = 125;

#element_type = field
#var_type = int
#comment = {
#  ?????? ????????.
#}
slider_height = 25;

<---------------------Album-Art--------------------->
#element_type = field
#var_type = int
#comment = {
#  ?????? ?????? ??????????? ???????.
#}
album_art_corners = 35;

#element_type = field
#var_type = int
#comment = {
#  ?????? ???????.
#  ???? ???????? ?? ?????? ?? ?????????? ??????.
#}
album_art_image_size = 400;

#element_type = switcher
#comment = {
#  ??????? ???????? ????? ? ????, ???? ?? ???.
#}
album_art_parse = false;

#element_type = switcher
#comment = {
#  ????????? ????? ????? ????, ?? ???????? ????.
#  ???????? ????????????? ? Windows 11/10 (? 10, ????????????????? ?? ?????????)
#}
album_art_caption_paint = true;

#element_type = switcher
#comment = {
#  ??? true - ????? ????????? ? ????, ? ??????? ??? ???????, ????????? ? ???? ???????.
#}
album_art_parsed_set_in_tags = false;

#element_type = box
#avaibles_types = contrast, average, rarest, attracting, unique
#comment = {
#  ????????????? ???????? ??????????? ????????? ????? ? ???????.
#}
album_art_get_color_type = contrast;
// album_art_get_color_type = average {175;50}

<---------------------List-View--------------------->
#element_type = field
#var_type = float
#comment = {
#  ???????????????? ???????? ????????????? ListView.
#}
listview_scroll_sensitivity = 0.0015;

#element_type = switcher
#comment = {
#   ????????? ????????? ??????? - ?????? ???????????? ?????.
#}
save_factory_time = true;

<---------------------Network--------------------->
#element_type = field
#var_type = int
#comment = {
#   ???????? ?????? ?????? ??? ??????????.
#}
max_count_download = 100;

#element_type = field
#var_type = int
#comment = {
#   ??????????? ?????? ??????????????? ?????? ? Sound Cloud.
#   ???? ???????? ?? ?????? ?? ????????? ???????.
#}
soundcloud_related_limit = 25;

#element_type = field
#var_type = string
#comment = {
#   Client Id Sound-Cloud ???????.
#   ????? ??? ?????? Client Id, ?????? ??? ???????? ????, ? Sound-Cloud ????? ?? ?????.
#   ??? ?????????????, ????? ????????? ???????????????? Id.
#}
soundcloud_api_client_id = cS5UqHNGRKP6XLU2mp1C7NGuEcf6qYci;

#element_type = switcher
#comment = {
#   ?????????? ????????? ??????? ????, ????? ??? ????????????????.
#   ???? ???????? ??? false, ????? ???? ??????????????, ? ????????? ????????? ?? false, ?? ???????????????.
#}
network_pre_download = true;

#element_type = field
#var_type = int
#comment = {
#   ????????????? ?????, ?? ????????? ???????? ??????? ??????? ????? ??????????.
#   ??? ?? ?????? ?? ?????????? ?????? ?????.
#}
network_pre_download_timeout = 7500;

#element_type = field
#var_type = int
#comment = {
#   ????????????? ?????, ?? ????????? ???????? ??????? ??????? ??????????, ? ??????????? ??????????? ???????.
#}
network_art_parse_timeout = 60000;

#element_type = switcher
#comment = {
#   ??? ????????? ????????????, ????? ????????????? ????????? ??????? ??????.
#   ???? ?????? ????? ?????????? ??? ?????? - ???? ????????? ?? ??????.
#   ??? ??????????? ????? ????????? ??????.
#}
delayed_loading = true;

<---------------------Player--------------------->
#element_type = field
#var_type = path
#comment = {
#   ???? ? ?????????? ?????????.
#   ???? ???? ???????????, ??? ?????? ??? default_User_music.
#}
default_playlist = default_User_music;

#element_type = switch
#var_type = bool
#comment = {
#   Всегда загружать плейлисты с корневого плейлиста, чтобы все изменения сразу отображались в плеере
#}
auto_playlist_scan = false;

#element_type = field
#var_type = path
#comment = {
#   ???? ? ????? ?????.
#   ????? ??????????????? ????? ????????????? ?????.
#   ???? ???? ??????, ??? ??????????? - ????? ?? ????? ??????????.
#   ???? ????? ?????? ???? ?????? WAV - ??????? ???? ???????????
#}
intro_path = res\audio\intro_cassette.wav;

#element_type = field
#var_type = int
#comment = {
#   ?????? ??????????? ????????? ????? ?????????????.
#   ? ???????? - ??????? ?????????? ?????? ?? ????????? ??????? ??????? ?????????.
#}
time_fade_in = 500;

#element_type = field
#var_type = int
#comment = {
#   ?????? ????????? ????????? ???????? ?????.
#   ?????????? - ???? ????????, ??-?? ?????? ? ????? ?????????? ??????????.
#}
time_end = 10;

#element_type = switcher
#comment = {
#   ????? ????? ???????? ????????????, ???? ???? ????? ????? ?? ?????
#}
play_of_pause = false;

#element_type = switcher
#comment = {
#   ?????????? ??????????? ???? ?????????.
#   ???? ???? ????? ??????? ????????? ? ???????? ???????,
#   ???? ????? ???????? ? ??????????? ? ???????????? ? ????? ?????????.
#   ?????????? - ???????? ?????????.
#}
playback_selected = false;

#element_type = switcher
#comment = {
#   ????? ????? ??????????? ????????? ?????.
#   ?????????? - ???????? ?????????.
#}
mixrand_selected = false;

#element_type = switcher
#comment = {
#   ????? ?? ????? ??????????? ?????????.
#   ?????? ????? ?? ????? ??????? ??????? ????????.
#   ?????????? - ???????? ?????????
#}
playlist_playback_selected = false;

#element_type = box
#comment = "??? ????????? ?????????????. ?????????? - ???????? ?????????"
matching_algorithm = last_to_first;

#element_type = field
#comment = "???????? ? ?????????????, ????? ????????????? ??????."
#var_type = int
delay_between_play = 15;

#element_type = switcher
#comment = {
#     ??????????????? ????????? ????????? ??????,
#     ? ??????? ????, ????, ????????.
#}
#var_type = bool
restore_state_track = true;

#element_type = box
#comment = "???????? ???????????? ? ????????????? ???????."
#var_type = string
#avaibles_types = last_time, skip_intro, skip_first_drop, skip_pit, like_moment, null
start_play_from = last_time;

#element_type = switcher
#comment = "???????? ??? ????, ??????? ??? ???????????? ????????? ????? ??? ?? ????, ??? ???????."
#var_type = string
playlist_track_auto_select_from_current = true;

<---------------------Graphics--------------------->
#element_type = field
#comment = {
# Определяет путь к файлу набора ресурсов.
# Здесь / меняется на File.separator - разделитель пути файловой системы
#}
#var_type = path
theme = res/resources.properties;

#element_type = field
#var_type = string[]
#comment = {
#  ????? ???????????? ??? ????????.
#}
general_animations_interpolator = 0.16, 1, 0.3, 1;

#element_type = switcher
#comment = {
#  ?????? ??????? ??? ????????? ?????.
#}
is_hue_change = false;

anchor_image = false;
static_elements = true;
la_gradient = true;
non_background = true;
time_animations = 50;
auto_set_night_theme = false;
background_color = f2f2f2;
main_color = nan;
text_color = 000000;
is_mobile = true;